# Cursor
.cursor

# Dependencies & Cache
__pycache__
.venv
node_modules

# Output
.next
build
dist
out

# Project
pnpm-lock.yaml

# Typescript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel

# Misc
bash.exe.stackdump
